<!doctype html>
<html>


<head>
  <title>Dashboard
  </title>
  <style>
    #container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: flex-start;
      align-content: space-around;
    }

    #container2 {
      display: flex;
      justify-content: right;
      align-items: right;
      height: 30vh;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    th,
    td {
      padding: 5px;
    }
  </style>



<body>
  <p> <strong>THIS IS TO BE USED BY AUTHORIZED STAFF ONLY</strong>.</p>
  {% for message in get_flashed_messages() %}
  <div class="alert">{{ message }}</div>
  {% endfor %}
  <div>
    <h2>Update Buttons</h2>
    <form method="post">
      <input type="hidden" name="label" value="update-all-devices">
      <button type="submit" name="update-all-devices">Update All Devices</button>
    </form>
    <br>
    <form method="post">
      <input type="hidden" name="label" value="update scanners from sheet">
      <button type="submit" name="update-from-sheet">Update from Sheet</button>
    </form>
  </div>
  <!-- {% if(pizerocolour1 == "red") %}
  <div id="alarms">
    <input type="text" id="alarm" name="01" value="{{ status_01 }}" readonly, textarea{ background-color: red; }>
    <div>
      {% else %}
      <div id="alarms">
        <input type="text" id="alarm" name="01" value="{{ status_01 }}" readonly, textarea{ background-color: green; }>
        {% endif %}

      </div> -->
  <h2>Device Control</h2>
  <table>
    <tr>
      <!-- TODO: make location, alarm delay -->
      <th>Device</th>
      <th>Status</th>
      <th>Location</th>
      <th>Alarm ON</th>
      <th>Alarm Delay</th>
      <th>Alarm Status</th>
      <th>Last Checked In</th>
      <th>Update</th>



    </tr>
    <!-- wrap this tr in a for loop: -->
    {% for device in devices %}
    <tr>
      <form method="post">
        <td>{{ device.id }}</td>
        <input type="hidden" name="id" value="{{ device.id }}">
        <!-- make the device location editable -->
        </td>
        <td style="background-color: {{ device.status_color }};">
          {{ device.status }}
        </td>
        <td>
          <input type="text" name="location" value="{{ device.location }}">
        </td>

        <td style="background-color: {{ device.alarm_power_color }};">
          {% if (device.alarm_power != "") %}
          <select name="alarm_power" id="alarm_power" style="border: 0; background: transparent;">
            <option disabled selected hidden value="">{{ device.alarm_power }}</option>
            <!-- this is the default value -->
            {% for option in device.alarm_enable_names %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
          {% endif %}
        </td>
        <td>
          <input type="text" name="delay" value="{{ device.alarm_delay_min }}" style="max-width: 10;">
        </td>
        <td style="background-color: {{ device.alarm_color }};">
          {{ device.alarm_status }}
        </td>


        <td>{{device.last_checked_in}}</td>
        <td>
          <input type="hidden" name="label" value="update-device">
          <button type="submit" name="update-device-{{ device.id }}">Update</button>
        </td>
      </form>
    </tr>
    {% endfor %}
    <!-- for loop ends here -->
  </table>



  <h2>LINKME</h2>
  <!-- create buttons to link to different sites -->
  <div>
    <a href="student">
      <button>Setup Student Card</button>
    </a>
    <br>
    <a href="staff">
      <button>Setup Staff Card</button>
    </a>
    <br>
    <a href="log">
      <button>Log Files</button>
    </a>
  </div>
</body>