<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <style>
        .icon {
            font-size: 100px;
            text-align: center;
            margin-top: 50px;
        }
        .red-x {
            color: red;
        }
        .green-check {
            color: green;
        }
    </style>
</head>
<body>
    <div class="icon">
        {% if event_now.empty %}
            <div class="green-check">&#10003;</div> <!-- Green check mark -->
        {% elif event_type == "class" %}
            <div class="red-x">&#10007;</div> <!-- Red X mark -->
            <h1>Do Not Enter</h1>
        {%   elif event_type == "workshop" %}
            <div class="green-check">&#10003;</div> <!-- Green check mark -->
            <h1>Please come in, workshop is being held</h1>
        {% else %}
            <div class="red-x">&#10007;</div> <!-- Red X mark -->
            <h1>Unknown</h1>
        {% endif %}
    </div>
</body>
</html>
