<!doctype html>
<html>

<head>
        <title>Student Card Setup</title>
        <style>
            #container {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                align-items: flex-start;
                align-content: space-around;
            }
        </style>
    </head>

    <body>
        <p> <strong>THIS IS TO BE USED BY AUTHORIZED STAFF ONLY</strong>.</p>
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        <div>
            <h2>Card Setup</h2>
            <form method="post">
                <input type="hidden" name="label" value="identifyuid">
                {% if (err != "") %}
                <label for="error-lab">Error: </label>
                <div id="error-cont">
                    <!-- <input type="text" id="error" name="error" value="{{ err }}" readonly style="color:red"> -->
                    <p id="error" name="error" style="color:{{color}}">{{ err }}</p>
                </div>
                {% endif %}
                <!-- <div>
                    <label for="first-name">First Name:</label>
                    <p id="first-name-output">{{ first_name }}</p>
                </div>
                <div>
                    <label for="last-name">Last Name:</label>
                    <p id="last-name-output">{{ last_name }}</p>
                </div> -->
                <!-- <div>
                    <label for="cruzid">cruzid:</label>
                    <p id="id-output">{{ cruzid }}</p>
                </div>
                <div>
                    <label for="uid">uid:</label>
                    <p id="uid-output">{{ uid }}</p>
                </div>
                <div>
                    <label for="affiliation">Affiliation:</label>
                    <p id="affiliation-output">{{ affiliation }}</p>
                </div> -->

                <table>
                    <tr>
                        <th>is staff?</th>
                        <td>{{ user_data.is_staff }}</td>
                    </tr>
                    <tr>
                        <th>cruzid</th>
                        <td>{{ user_data.cruzid }}</td>
                    </tr>
                    <tr>
                        <th>uid</th>
                        <td>{{ user_data.uid }}</td>
                    </tr>
                    <tr>
                        <th>first name</th>
                        <td>{{ user_data.first_name }}</td>
                    </tr>
                    <tr>
                        <th>last name</th>
                        <td>{{ user_data.last_name }}</td>
                    </tr>
                    <tr>
                        <th>super user</th>
                        <td>{{ user_data.access1 }}</td>
                    </tr>
                    <tr>
                        <th>club leadership</th>
                        <td>{{ user_data.access2 }}</td>
                    </tr>
                    <tr>
                        <th>BE-49</th>
                        <td>{{ user_data.access3 }}</td>
                    </tr>
                    <tr>
                        <th>BE-50</th>
                        <td>{{ user_data.access4 }}</td>
                    </tr>
                    <tr>
                        <th>BE-51</th>
                        <td>{{ user_data.access5 }}</td>
                    </tr>
                    <tr>
                        <th>BE-53</th>
                        <td>{{ user_data.access6 }}</td>
                    </tr>
                    <tr>
                        <th>BE-54</th>
                        <td>{{ user_data.access7 }}</td>
                    </tr>
                    <tr>
                        <th>BE-55</th>
                        <td>{{ user_data.access8 }}</td>
                    </tr>
                </table>
                    


                <div>
                    <button type="submit" name="checkcard" value="checkcard">Check Card</button>
                </div>
            </form>
        </div>
    </body>

    </html>
          
    </form>
  </div>
</body>

</html>