<!doctype html>
<html>

<head>
    <title>Identify User/Card</title>
    <style>
        #container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: space-around;
        }
    </style>
</head>

<body>
    <p> <strong>THIS SYSTEM IS TO BE USED BY AUTHORIZED STAFF ONLY</strong></p>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}

    <a href="logout">
        <button>Logout</button>
    </a>

    <div>
        <h2>Identify User/Card</h2>
        <form method="post">
            <input type="hidden" name="label" value="identifyuid">
            {% if (err != "") %}
            <label for="error-lab">Error: </label>
            <div id="error-cont">
                <!-- <input type="text" id="error" name="error" value="{{ err }}" readonly style="color:red"> -->
                <p id="error" name="error" style="color:{{color}}">{{ err }}</p>
            </div>
            {% endif %}

            <table>
                <tr>
                    <th>CruzID (optional)</th>
                    <td>
                        <input type="text" name="cruzid" value="{{ user_data.cruzid or None }}">
                    </td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ user_data.type }}</td>
                </tr>

                <tr>
                    <th>Card UID</th>
                    <td>{{ user_data.uid }}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{ user_data.first_name }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ user_data.last_name }}</td>
                </tr>

                {% for i in range(0, length) %}
                <tr>
                    <th>{{ rooms[i] }}</th>
                    <td>{{ accesses[i] }}</td>
                </tr>
                {% endfor %}
            </table>

            <div>
                <button type="submit" name="checkcard" value="checkcard">Check Card</button>
            </div>
        </form>
    </div>
    <div>
        <br>
        <a href="/dashboard">
            <button>Return to Dashboard</button>
        </a>
    </div>
</body>

</html>

</form>
</div>
</body>

</html>