<!DOCTYPE html>
<html class="background_img">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title>Flask Auth Example</title> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css"
        integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head %}
    {% endblock %}
</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container is-fluid">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('dashboard') }}" class="navbar-item">
                                Dashboard
                            </a>
                            <a href="{{ url_for('usage') }}" class="navbar-item">
                                Filament Usage
                            </a>

                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered is-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>