{% extends "_base.html" %}

{% block head %}
<title>Slugworks Filament Usage</title>
<style>
    .vcenter {
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block content %}
<p class="title">
    Slugworks Filament Usage
</p>
<p class="subtitle">
    Please contact the Slugworks staff if you have any questions or concerns.
</p>
<canvas id="chart"></canvas>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
<script>

    const ctx = document.getElementById('chart');

    const DATA_COUNT = 7;
    const NUMBER_CFG = { count: DATA_COUNT, min: -100, max: 100 };

    const data = {
        labels: [{% for l in labels %}"{{ l }}", {% endfor %}],
        datasets: [
            {% for color, name in colors %}
            {
                label: "{{ name }}",
                data: {{ usage[color] }},
                borderColor: "{{ color }}",
                backgroundColor: "{{ color }}CC",
                fill: true
            },
            {% endfor %}
        ]
    };

    new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: false,
                },
                tooltip: {
                    mode: 'index'
                },
            },
            interaction: {
                mode: 'nearest',
                axis: 'x',
                intersect: false
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Month'
                    }
                },
                y: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'Value'
                    },
                    suggestedMax: {{ max }}
                }
            }
        }
    });
</script>
{% endblock %}