{% extends "_base.html" %}

{% block head %}
<title>Slugworks Access - Dashboard</title>
<style>
    .vcenter {
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block content %}
<p class="title">
    Dashboard
</p>
<p class="subtitle">
    This system is only to be used by Slugworks staff.
</p>
<table class="table is-hoverable is-fullwidth is-striped">
    <thead>
        <tr>
            <th>Reader</th>
            <th>Status</th>
            <th>Alarm Status</th>
            <th>Last Seen</th>
            <th>Location</th>
            <th>Alarm Timeout</th>
            <th>Alarm Enabled</th>
        </tr>
    </thead>
    <tbody>
        {% for reader in readers %}
        <tr>
            <td>{{ reader["rid"] }}</td>
            <td>Status Value</td>
            <td>Alarm Status Value</td>
            <td>Last Seen Value</td>
            <td>Location Value</td>
            <td>Alarm Timeout Value</td>
            <td>
                <input
                    type="checkbox"
                    class="switch is-success"
                    id="alarmSwitch{{ loop.index }}"
                    name="alarmEnabled_{{ reader }}"
                    {% if line.alarm_enabled %}checked{% endif %}
                 />
                <label for="alarmSwitch{{ loop.index }}"></label>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}