{% extends "_base.html" %}

{% block head %}
<title>Slugworks Access - Dashboard</title>
<style>
    .vcenter {
        vertical-align: middle !important;
    }
    th {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<p class="title">
    Dashboard
</p>
<p class="subtitle">
    This system is only to be used by Slugworks staff.
</p>
<p> canvas status: {{ canvas["status"] }} </p>
<p> canvas was last updated: {{ canvas["time"] }} </p>
<br>
<table class="table is-hoverable is-fullwidth is-striped">
    <thead>
        <tr>
            <th>Reader</th>
            <th>Status</th>
            <th>Location</th>
            <th>Alarm enabled</th>
            <th>Door Delay</th>
            <th>Alarm status</th>
            <th>Last Alive</th>
            <th>Save</th>
        </tr>
    </thead>

    <tbody>
        {% for reader in readers %}
        <tr>
            <form method="post">
                <input type="hidden" name="rid" value="{{ reader['id'] }}" />
                <td>{{ reader["id"] }}</td>
                <td>{{ reader["online"] }}</td>
                <td>
                    <input type="text" name="loc" value="{{ reader['loc'] }}" />
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox" name="enable" {% if reader["enable"]==true or reader["enable"]=='true' or
                            reader["enable"]=='1' %} checked {% endif %}>
                        <span class="check"></span>
                    </label>
                </td>

                <td>
                    <input type="text" name="delay" value="{{ reader['delay'] }}" />
                </td>
                <td>{{ reader["status"] }}</td>
                <td>{{ reader["last_seen"] }}</td>
                <td>
                    <button type="submit" class="button is-primary">Save</button>
                </td>
               

            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}