{% extends "_base.html" %}

{% block head %}
<title>Slugworks Access - Users</title>
<style>
    .vcenter {
        vertical-align: middle !important;
    }
    table {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}

{% block content %}
<p class="title">
    Users
</p>
<p class="subtitle">
    This system is only to be used by Slugworks staff.
</p>
<div class="search-container">
    <form method="post">
        <div class="search-box">
            <input type="text" id="cruzid" name="cruzid" placeholder="CruzID" oninput="handleInput('cruzid')">
            <input type="text" id="uid" name="uid" placeholder="Card UID" oninput="handleInput('uid')">
            <!-- <button type="submit" id="search">Search</button> -->
            <input type="submit">
        </div>

    </form>
</div>
<br>

<table class="table is-hoverable is-striped is-centered">
    <tbody>
        <tr>
            <th>
                User type
            </th>
            <td>
                {{ data["type"] }}
            </td>
        </tr>
        <tr>
            <th>
                CruzID
            </th>
            <td>
                {{ data["cruzid"] }}
            </td>
        </tr>
        <tr>
            <th>
                UID
            </th>
            <td>
                {{ data["uid"] }}
            </td>
        </tr>
        <tr>
            <th>
                Name
            </th>
            <td>
                {{ data["firstname"] }} {{ data["lastname"] }}
            </td>
        </tr>
        {% if data["type"] == "student" %}
        {% for room in rooms %}
        <tr>
            <th>
                {{ room }}
            </th>
            <td>
                {{ rooms[room] }}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<script>
    function handleInput(inputId) {
        const otherInputId = inputId === 'cruzid' ? 'uid' : 'cruzid';
        const input = document.getElementById(inputId);
        const otherInput = document.getElementById(otherInputId);
        const button = document.getElementById(`${inputId}-search`);

        if (input.value.trim() !== '') {
            otherInput.disabled = true;
            button.disabled = false;
        } else {
            otherInput.disabled = false;
            button.disabled = true;
        }
    }


</script>

</p>
{% endblock %}